* {
    font-family: 'Helvetica Neue LT';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

.sf-banner {
    background: linear-gradient(181deg, #FFFFFF 19.33%, #F1F5F7 81.67%);
}

.sf-banner .subHdng {
    font-weight: 300;
}

.form-sec {
    padding-top: 80px;
    padding-bottom: 80px;
}

.form-sec-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 50px;
    color: #0F1A21;
}

.form-title {
    font-size: 20px;
    font-weight: 700;
    color: #2F4858;
    margin-bottom: 25px;
}

.input-wrap {
    margin-bottom: 20px;
    position: relative;
}

.input-wrap label {
    display: block;
    margin-bottom: 10px;
    color: #424B51;
    font-size: 14px;
    font-weight: 500;
}

.input-wrap input,
.input-wrap select {
    position: relative;
    background: #FCFDFE;
    outline: none !important;
    border: 1px solid #E1E8EB;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 6px;
    color: #424B51;
    min-height: 55px;
}

.input-wrap select {
    padding: 12px;
}

.input-wrap *::placeholder {
    color: #424B51;
    font-weight: 400;
    padding: 0;
}

.input-wrap .select-wrap {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.input-wrap .select-wrap::before,
.input-wrap .select-wrap::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    background: #FCFDFE;
    z-index: 1;
}

.input-wrap .select-wrap::before {
    right: 1px;
    transform: translateY(-50%);
    width: 50px;
    height: 48px;
    border-radius: inherit;
}

.input-wrap .select-wrap::after {
    right: 20px;
    transform: translateY(-50%) rotate(-135deg);
    width: 8px;
    height: 8px;
    border-left: 2px solid #0F1A21;
    border-top: 2px solid #0F1A21;
}

.business {
    margin-bottom: 20px;
}

input[type="submit"] {
    background: #F6924E;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

input[type="submit"]:hover {
    color: #F6924E;
    background-color: #FFF3EB;
}

footer .ftr_menu li a {
    display: inline;
}

.submitAnchor, .submitAnchor:hover {
    background: #F6924E;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    display: block;
    position: relative;
    outline: none !important;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 6px;
    min-height: 55px;
    text-align: center;
    text-decoration: none;
}


/* responsive start */

@media (max-width: 575.98px) {
    .form-sec-title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .input-wrap input,
    .input-wrap select {
        font-size: 15px;
    }

    .form-wrap.business {
        margin-bottom: 30px;
    }

    .form-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1200px) {

    /* .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1320px!important;
    } */
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 599.98px) {
    .form-container {
        max-width: 576px;
    }
}
